*{margin:0;padding:0;}
button{cursor:pointer;}
body{background:#fff;}
a{text-decoration:none;}
.left{float:left;width:220px;}
.logo{text-align:center;}
.logo img{margin:20px 0 5px;}
.layui-icon{font-size:20px;vertical-align:-2px;}
.index_top{background:#f3f3f4;height:60px;line-height:60px;width:100%;color:#999c9e;border-bottom:1px solid #e7eaec !important;}
.logout{font-size:14px;float:right;margin-right:40px;cursor:pointer;}
.system_title{font-size:20px;font-weight:bold;color:#ea6000;}

/*#index_container{width: calc(100% - 220px);left:220px;position:absolute;}
#content_main{height: calc(100% - 60px);overflow: hidden;width:100%;}*/
.container{padding:20px;background:#fff;}
.search_title{padding-left:5px;}
.search_img{position:absolute;right:10px;cursor:pointer;top:8px;color:#777;}
.search_detail{position:absolute;left:10px;cursor:pointer;top:4px;font-size:24px;}
.backlog_table tr td{cursor:pointer;}
.backlog_img{color:#007DDB;}
.top_btn{position:fixed;background:#fff;z-index:10;width:100%;height:60px;line-height:60px;border-bottom:1px solid #ccc;box-shadow:0 0 5px #ccc;}
.content{margin-top:60px;}
.layui-icon{cursor:pointer;}
.layui-table tbody tr:hover{
    background-color: transparent;
}
.mini_logo{height:50px;position:absolute;top:20px;left:-15px;display:none;}
.content .layui-table .layui-input{height:30px;}
.content .layui-table td{padding:5px 15px;}
.layui-table .list_title{background:#E2E2E2;font-size:20px;text-align:center;font-weight:600;}
.td_title{text-align:right;position:relative;}
.tip_span{position:absolute;right:5px;color:red;top:15px;font-size:16px;}
.tip_span1{padding-right:5px;color:red;top:15px;font-size:16px;vertical-align:-4px;}
.title_p{border-left:4px solid #ea6000;padding-left:10px;margin:20px 0 10px;}
.role{color:#007DDB;}
.txt{border:0;width:100%;color:#777;}
.progress_time{position: absolute;top:0;right:40%;z-index:1;font-size:12px;}
.layui-table .create_table tbody tr:hover{ background-color: #E2E2E2;}
.star_img{margin:0 10px 0 15px;width:16px;vertical-align:-2px;}
.table_list{color:#ff0000;}
.table_list .layui-icon{margin-right:5px;}
.tail,.back{color:#007DDB;}
.red{color:#ff0000;font-size:16px;vertical-align:-3px;padding-left:5px;}
.layui-table .approval_th{color:#000;text-align:right;}
.choice_tr{display:none;}
.create_type{list-style:none;display:none;width:120px;border:1px solid #ddd;box-shadow:0 0 10px #ccc;border-radius:3px;position:absolute;z-index:10;top:35px}
.create_type li{list-style:none;text-decoration:none;height:30px;padding-left:10px;line-height:30px;color:#4183C4;cursor:pointer;background:#fff;}
.create_type li:hover{color:#235;}
.display_container{display:none;position:absolute;top:0;left:0;z-index:10;background:rgba(255,255,255,0.8);width:100%;height:100%;}
.display_content{color:#717171;padding:20px;width:600px;height:500px;background:#fff;position:absolute;margin:100px 0 0 -300px;left:50%;box-shadow:0 0 10px #ccc;}
.top{height:50px;width:100%;font-size:20px;}
.middle{height:400px;width:96%;border:1px solid #ccc;position:relative;padding:0 10px;}
.foot{text-align:right;height:50px;line-height:50px;}
.search_user{height:30px;width:99%;border:1px solid #ccc;margin-top:10px;padding-left:5px;}
.tab_list{float:left;}
.tab_list li{height:40px;width:80px;line-height:40px;text-align:center;border-bottom:1px solid #ccc;cursor:pointer;}
.tab_list .active{background:#eee;}
.tree,.tree1,.tree2{margin-left:90px;}
.tree1,.tree2{display:none;}
.advanced_p{font-size:16px;border-bottom:1px solid #ccc;margin:10px 0 5px;}
.top_div{border-bottom:1px solid #ccc;height:40px;line-height:40px;}
.txt{border:1px solid #ccc;height:25px;padding-left:5px;width:90%;}
.add_menu{color:darkgreen;cursor:pointer;}
.delete_menu{color:red;cursor:pointer;}
.last:hover{background:#c8e0c8;}
.menu_div{border:1px solid #ccc;border-radius:5px;padding:10px;margin-top:10px;}
.menu_div .layui-row{padding:2px;}
.display_container3{display:none;position:absolute;top:0;left:0;z-index:10;background:rgba(255,255,255,0.8);width:100%;height:100%;}
.display_content3{color:#717171;padding:20px;width:600px;height:560px;background:#fff;position:absolute;margin:50px 0 0 -300px;left:50%;box-shadow:0 0 10px #ccc;}
.middle3{height:460px;width:96%;border:1px solid #ccc;position:relative;padding:0 10px;}
.choose_user{cursor:pointer;}
.user_container{height:350px;}
.user_left{overflow-y:auto;border:1px solid #ccc;padding:20px 10px 0;}
.user_middle{text-align:center;}
.user_middle button{margin:10px auto;}
.user_right{border:1px solid #ccc;height:350px;}
.choose_user_list{padding-top:20px;}
.choose_user_list li{height:30px;line-height:30px;list-style:none;padding-left:20px;color:#666;cursor:pointer;}
.lose_efficacy,.high_class{display:none;}
.display_container6{display:none;position:absolute;top:0;left:0;z-index:10;background:rgba(255,255,255,0.8);width:100%;height:100%;}
.display_content6{color:#717171;padding:20px;width:90%;height:520px;background:#fff;position:absolute;margin:50px 0 0 -45%;left:50%;box-shadow:0 0 10px #ccc;}
.middle6{height:420px;width:96%;border:1px solid #ccc;position:relative;padding:0 10px;}
.display_container5{display:none;position:fixed;top:0;left:0;z-index:10;background:rgba(255,255,255,0.8);width:100%;height:100%;}
.display_content5{color:#717171;padding:20px;width:600px;height:450px;background:#fff;position:absolute;margin:50px 0 0 -300px;left:50%;box-shadow:0 0 10px #ccc;}
.middle5{height:350px;width:96%;border:1px solid #ccc;position:relative;padding:0 10px;}
.middle7{height:300px;width:96%;border:1px solid #ccc;position:relative;padding:0 10px;overflow-y: auto;}
.display_container7,.display_container8,.display_container9{display:none;position:fixed;top:0;left:0;z-index:10;background:rgba(255,255,255,0.8);width:100%;height:100%;}
.display_content7,.display_content8{overflow-y:auto;color:#717171;padding:20px;width:600px;height:400px;background:#fff;position:absolute;margin:100px 0 0 -300px;left:50%;box-shadow:0 0 10px #ccc;}
.p p{color:#777;margin:5px 0;padding-left:10px;}
.p font{color:#000;}
.tab_ul li{ margin:0 5px 5px 0;padding:10px 0;list-style:none;float:left;width:200px;text-align:center;border:1px solid #e6e6e6;color:#777;background:#FBFBFB;}
.menu_container{padding:10px 20px;}
.menu_title{float:left;width:150px;white-space:nowrap;/*color:#009688;*/}
.menu_detail{margin-left:150px;border-bottom:1px dashed #e6e6e6;}
.menu_detail ul li{float:left;margin:0 0 20px 20px;}
.menu_detail1,.menu_detail2{display:none;padding:10px 0;box-shadow:0px 0px 10px #ccc;border:1px solid #ccc;width:700px;height:auto;background:#fff;position:absolute;left:0px;z-index:1000000;top:100px;}
.option_container{border:1px solid #E6E6E6;padding:0 10px 10px;}
.upload_file{display:none;}
.layui-layout-admin .layui-header{background:#f3f3f4;height:60px;line-height:60px;width:100%;color:#999c9e;}
.layui-layout-admin .layui-body{top:0px;}
.layui-layout-admin .layui-footer{padding:0;}
.layui-side-menu .layui-nav{margin-top:0;}
.layui-side-menu .layui-nav .layui-nav-item > a{padding-top:3px;padding-bottom:3px;}
.layui-footer{border-top:1px solid #e7eaec;height:40px;line-height:40px;text-align:center;width:100%;color:#777;z-index:1000000;}
.layui-nav-tree .layui-nav-bar{padding-bottom:6px;}


